.about-us-bio {
  border-bottom: 1px solid $blue-three;
  overflow: hidden;
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;

  h2 {
    font-size: 18px;
  }

  img {
    height: auto;
    max-width: 35%;
  }

  @media (min-width: 768px) {
    border: none;
    padding: 0 0 1rem;

    h2 {
      font-size: 24px;
      margin: 0 0 2rem;
    }
  }
}

.about-us-read-more {
  background: transparent;
  border: none;
  color: $blue-three;
  font-family: 'Open Sans', sans-serif;
  display: block;
  padding: 1rem 0;

  @media (min-width: 768px) {
    display: none;
  }
}

.sm-arrow {
  border: 3px solid transparent;
  border-left-color: $blue-three;
  height: 0;
  width: 0;
}