/*
    This is just to temporarily hold inline styles until we can refactor them.
    It isn't pretty.
*/

// HEADER
.estimate-form {
  right:0;
  bottom:0;
  margin-right:0;
}

body.page-template, body.page-template-default {
  padding-bottom:7.2rem;
}

.sidebar-img {
  max-width: 380px;
}

.add-is {
  padding-bottom:155px;
}

.top-nav-container #header-social {
  float:none;
  margin:auto;
}

#header-social-mobile {
  list-style: none;
  padding:0 0 0 15px;
  margin:0;
  float:left;
}

#header-social-mobile li {
  float:left;
  max-width:35px;
  margin:10px 20px 0 0;
  cursor: pointer;
  opacity:1;
  transition:.25 all ease-in-out;
}

#header-social-mobile li:hover {
  opacity:.8;
}

.home-button {
  max-width:40px;
  float:right;
  margin-right:15px;
  margin-top:5px;
}

.carousel-caption {
  position:relative;
  margin:0;
  top:0;
  bottom:0;
  text-align: center;
  text-shadow: none;
  left:0;
  padding-bottom:0;
}

.carousel-caption h2 {
  font-size:24px;
}

.carousel-indicators li {
  background:#779ec7;
  width:20px;
  height:20px;
  margin:0 10px;
}

.carousel-indicators .active {
  background:#17164c;
  width:20px;
  height:20px;
  margin:0 10px;
}

.social-message {
  font-family:'Droid Sans', sans-serif;
  font-size:16px;
  padding:5px 0;
  color:#323232;
  display: table;
  margin:auto;
}

.top-nav-container #header-social {
  padding:0;
}
.top-nav-container .header-ph {
  line-height:10px;
}
.top-nav-container .header-add {
  font-size:19px;
  line-height:22px;
}

@media screen and (max-width:930px) {

  .top-nav-container .header-ph a {
    font-size:26px;
  }

  .top-nav-container .header-add {
    font-size:16px;
    line-height: 18px;
  }
}

@media screen and (min-width:768px) and (max-width:930px) {

  .top-nav-container #header-social li {
    margin:0 10px;
  }

  .navbar-default .menu-main-menu-container .navbar-nav li a {
    font-size:2vw;
  }
}

@media screen and (max-width:767px) {

  .show-hide {
    display:block;
    top:0;
  }

  .navbar .navbar-toggle .icon-bar {
    margin:10px 0;
  }
}

@media screen and (max-width:480px) {

  .main-contain {
    padding-top:15px;
  }
  
  .carousel-indicators {
    position:relative;
    bottom:0;
    left:0;
    display:table;
    width:100%;
    margin:auto;
    margin-left:0;
    padding:20px 0;
  }
  
  .carousel-indicators li {
    background-color:#779ec7;
    width:20px;
    height:20px;
    margin:0 10px;
  }
  
  .carousel-indicators .active {
    background-color:#17164c;
    width:20px;
    height:20px;
    margin:0 10px;
  }
}


// PAGE-HOME
.social-message {
  margin: 5px auto;
  font-size: 18px;
  color: #17164c;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 767px) {

  .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    margin: auto;
    margin-left: 0;
    padding: 20px 0;
  }
}


// PAGE-CONTACT
.contact-box-container {
  margin: 25px 0;
}

.contact-box-container .contact-box {
  padding: 20px 20px!important;
  background: #17164c;
  color: #ffffff;
}

.contact-box-container h2, .contact-box-container h3 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.contact-box-container h3 {
  font-size: 14px;
  color: #779ec7;
}

#google-map {
  width: 100%;
  display: table;
  max-height: 225px;
}

@media screen and (max-width: 767px) {
  .contact-box-container {
    padding-bottom: 25px;
  }
}