/*==============================================================================

        Color Variables

===============================================================================*/

$dark-grey:                 #323232;
$grey:						#7f7f7f;
$light-grey:				#d1d2d4;
$lightest-grey:				#e9e9e9;
$white:						#ffffff;
$black:                     #000000;

$blue-one:					#17164c;
$blue-two:					#393d61;
$blue-three:				#5b6c99;
$blue-four:					#779ec7;
$blue-five:					#cbd5e4;





$font-custom: 'Open Sans', sans-serif;
$bold: 700;
$regular: 400;
$button-transition: all .25s ease-in-out;