@charset "UTF-8";
@charset "iso-8859-15";
@import "config";
@import "variables";
@import "bootstrap";
@import "wp-styles";
@import "about-us";
@import "estimate-form";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.page-template {
  position: relative;
  margin: 0;
  padding-bottom: 13rem;
  min-height: 100%;
}

body.page-template-default {
  position: relative;
  margin: 0;
  padding-bottom: 13rem;
  min-height: 100%;
}



h1, h2, h3, h4, h5, h6 {
	font-family:'EB Garamond', serif;
	color:$blue-one;
	margin:0;


}

h1 {
	padding-bottom:25px;
}

h2 {
	font-family:'Open Sans', sans-serif;
	font-size:26px;
	font-weight:600;
	margin:10px 0;
}
.main-contain {
	padding-top:50px;
}

a, p, span {
	font-family:'Open Sans', sans-serif;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p {
	font-size:17px;
	color:$dark-grey;
	line-height:21px;
}

a {
	color:$grey;
	&:hover {
		text-decoration: none;
	}
}

.row {
	margin:0;
}

/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/ 

#respond {
  margin-top: 40px;
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}


/*
	Global
*/

.no-pad {
	padding:0;
}

.no-margin {
	margin:0;
}

.d-table {
	display:table;
}

.m-auto {
	margin:auto;
}

.w-100 {
	width:100%;
}


/* Home Carousel */

#homeCarousel, #homeCarouselStatic {
	.carousel-inner {
		margin:auto;
	}
}

#homeCarousel .carousel-indicators {
    left: 0;
    margin: auto;
    width: 100%;
    display: table;
    right: 0;
    max-width: 1200px;
    text-align: right;
}

#homeCarousel .carousel-indicators li {
    margin:0 5px;
    border:0;
    background:$grey;
    width:15px;
    height:15px;
}

#homeCarousel .carousel-indicators .active {
    background:$dark-grey;
    width:15px;
    height:15px;
}

#homeCarousel .carousel-caption {
    padding:0;
    left:5%;
    right:auto;
}

 #homeCarousel .carousel-caption h4 {
 	margin:0;    
}


#homeCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img, #homeCarouselStatic .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    width: 100%;
    margin:auto;
    line-height: 1;
    object-fit:cover;
}

#homeCarouselStatic .carousel-inner > .item > img {
	max-height: 250px; // NEW VALUE
	// max-height: 800px; // OLD VALUE
	transition: 1s all ease-in-out;

}

.cms-banner-closed {
	max-height:0!important;
}



/* NAVIGATION */

// Hide HOME menu item on mobile
@media (max-width:767px) {
	.menu-item-home {
		display: none!important;
	}
}

.container-fluid>.navbar-header {
	margin:0;
}

.top-nav-container {
	background:$white;
	padding:20px 0;
	
	.inside-contain {
		padding:0 15px;
		display:block;
		width:100%;
		max-width:1170px;
		margin:auto;
	}
	
	.header-ph {
		text-align:right;
		display: table;
		float:right;
		width:100%;
		
		a {
			color:$blue-one;
			font-size:40px;
			font-weight:600;
			margin:0;
			line-height: 30px;
			text-shadow: rgba(0,0,0,.01) 0 0 1px;
			-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
		    -webkit-font-smoothing: antialiased;
		    transition:.25s all ease-in-out;
		}
	}
	
	.header-add {
		text-align:right;
		display: table;
		float:right;
		width:100%;
		font-size:20px;
		color:$dark-grey;
		padding-top:5px;
		    transition:.25s all ease-in-out;
	}
	#header-social {
		display: table;
	    list-style: none;
	    padding: 10px 0;
	    margin: 0;
	    float:right;
	    clear:both;
	    
	    li {
		    float:left;
		    margin:0px 17px;
		    cursor: pointer;
			transition:.25s all ease-in-out;
		    
		    &:first-child {
			    margin-left:0;
		    }
		    
		    &:last-child {
			    margin-right:0;
		    }
		    
		    img {
			    max-width:40px;
		    }
		    
		    &:hover {
			    opacity:.8;
		    }
	    }
	}
}


.navbar-default {
	
	margin-bottom:0; 
	
	.menu-main-menu-container {
			background:$blue-one;
			
		.navbar-nav {
			float:none;
			margin:0px;
			width:100%;
			max-width:1170px;
			display: block;
			position: relative;
			margin:auto;
			
			li {
				float:left;
				display: table-cell;
				width:16.667%;
				text-align: center;
				border-bottom:0;
				transition:.25s all ease-in-out;
				
				box-shadow: inset 0 0 0 0 $blue-one;
				-webkit-transition: all ease 0.8s;
				-moz-transition: all ease 0.8s;
				transition: all ease 0.8s;
		
				
				&:hover {
					box-shadow: inset 0 100px 0 0 $blue-four;
					color:$white;
				}
				
				a {
					color:$white;
					font-family: 'Open Sans';
					font-size: 20px;
					padding:13px 0;
					font-weight:600;
					letter-spacing: .5px;
					
					&:hover {
						color:$white;
					}
					
					&:m {
						color:$blue-four;
					}
				}
				
				//submenu items
				
				.dropdown-menu {
					margin:-1px 0 0;
					padding:0;
					
					li {
						width:100%;

						@media (min-width: 768px) {
							border-bottom: 1px solid white;
						}
						
						&:last-child {
							border-bottom: 0;
						}
						
						a {
							background:$blue-four;
							color:$white;
							background-image: none;
						    padding: 10px;
						    text-align: left;
						    font-size: 16px;
						    transition:.25s all ease-in-out;
							
							&:hover {
								background:$blue-five;
								color:$blue-one;
								background-image:none;
							}
						}
						
						&:hover {
							background:$blue-five;
								color:$blue-one;
							background-image:none;
						}
					}
				}
			}
			
			
			.active, .current_page_parent {
				a {
					background:$blue-four;
					color:$white;
					
					&:focus, &:hover {
						background:$blue-four;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
			.open {
				a {
					background:$blue-four;
					background-image:none;
					color:$white;
					
					&:focus, &:hover {
						background:$blue-four;
						background-repeat: repeat-x;
						background-position: center bottom;
						color:$white;
					}
						
				}
			}
			
		}
	}
}

.sticky {
	position:fixed;
	top:0;
	right:0;
	left:0;
	width:100%;
}

.clear-both {
	clear: both;
}

.navbar-toggle { 
	margin:0 5px 0 0;
}


.testimonial {
	display:table;
	width:100%;
	color:$white;
	padding:15px;
	margin-bottom:25px;
	font-size:16px;
	
	&.t-one {
		background:$blue-three;
	}
	
	&.t-two {
		background:$blue-two;
		
	}
	
	&.t-three {
		background:$blue-four;
	}
	
	.t-author {
		clear:both;
		display: table;
		float: right;
	}

	@media (min-width: 768px) {
		padding:25px;
	}
}

.case-study {
	display:table;
	width:100%;
	border-bottom:2px solid $blue-four;
	padding-bottom:10px;
	margin-bottom:10px;
	
	h2 {
		font-size:24px;
		margin-bottom:0;
	}
	
	&:last-child {
		border-bottom:0;
	}
}

.estimate-form {
	background: $blue-four;
	height: 170px;
  z-index: 999;
  position: absolute;
  display: block;
  right: 25%;
  margin-right: -150px;
  bottom: 72px;
  width: 100%;
  // max-width: 400px;
  overflow: hidden;
  transition: .35s height ease-in-out;
  
  div.wpcf7 {
    padding: 0 20px;
  }
	
	#title-bar {
		color: $white;
		text-align: left;
		background: $blue-one;
		font-size: 32px;
		line-height: 36px;
		padding: 10px 20px;
		font-family: 'EB Garamond', sans-serif;
		display: block;
		width: 100%;
	}
	
	em {
		color: $blue-one!important;
		clear: both!important;
		display: table;
		margin: 10px auto;
		font-family: 'Droid Sans', sans-serif;
		padding: 0 20px;
		width: 100%;
		font-size: 16px;
		text-align: left;
		font-style: normal;
	}
	
	.form-control {
		height: 35px;
    line-height: 35px;
    padding-left: 10px;
    color:$dark-grey;
    margin:0 0 15px;
    width: 100%;
    color: $dark-grey;
    font-family: 'Open Sans',  sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition:.25s all ease-in-out;
    border:0;
	}
	
	.radio-select {
		padding:15px 0;
	}
	
	#estimate-name {
		margin-top:0;
	}
	
	label {
		color:$white;
		width:100%;
		text-align: left;
		margin:0;
		padding:0;
		font-weight: normal;
		font-family:'Open Sans',sans-serif;
	}
	
	.wpcf7-list-item {
		display:table;
		clear:both;
		padding:0;
		margin:20px 0;
		
		label {
			width:100%;
			font-weight: normal;
			font-size:16px;
			font-family:'Open Sans',sans-serif;
			padding-left:15px;
			color:$white;
		}
	}
	
	.wpcf7-submit {
		background:$blue-two;
		color:$white;
		width:auto;
		border:none;
		font-size:24px;
		font-weight:400;
		font-family:'Open Sans',sans-serif;
		margin:10px auto;
		padding:0;
		border-radius:0;
		min-width:200px;
		float:right;
		text-transform: uppercase;
		display:table;
		transition:.25s all ease-in-out;
		
		&:hover {
			background:$blue-one;
			color:$white;
		}
	}
	
	.wpcf7-not-valid {
		background:#bb7f87;
		color:$white;
	}
			
	.wpcf7-not-valid::-webkit-input-placeholder {
		color: $white;
	}
	.wpcf7-not-valid::-moz-placeholder {
		color: $white;
	}
	.wpcf7-not-valid:-moz-placeholder {   /* Older versions of Firefox */
		color: $white;
	}
	.wpcf7-not-valid:-ms-input-placeholder { 
		color: $white;
	}
	
	.wpcf7-response-output {
		display:none!important;
	}

	.wpcf7-list-item-label {
		color:$white;
		font-family: 'Open Sans', sans-serif;
		font-size:18px;
		padding-top:0;
	}

	span.wpcf7-not-valid-tip {
		position: absolute;
    color: $white;
    font-size: 10px;
		display:none;
    width: 100%;
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	    color: $blue-one;
	}
	::-moz-placeholder { /* Firefox 19+ */
	    color: $blue-one;
	}
	:-ms-input-placeholder { /* IE 10+ */
	    color: $blue-one;
	}
	:-moz-placeholder { /* Firefox 18- */
	    color: $blue-one;
	}

	// ESTIMATE FORM ON TABLETS
	@media (min-width:768px) and (max-width:991px) {

		height: 165px;

		#title-bar {
			font-size: 24px;
			padding: 10px 18px;
		}

		em {
			font-size: 12px;
			padding: 0 18px;
		}
	}

} // END ESTIMATE FORM


.expand-form {
	height:432px;
}


	.close-estimate {
			position:absolute;
			padding:2px 10px;
			top:25px;
			right:5px;
			background:none;
			font-size:20px;
			color:$blue-five;
			font-weight: bold;
			border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
			cursor: pointer;
		}
	
	
	.estimate-overlay {
		display:none;
		background:$blue-five;
		opacity:.75;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-height:100%;
		z-index:9998;
	}
	
	
	.estimate-activate {
		display:table;
		position:absolute;
		right:0;
		cursor:pointer;
	}



#thank-you-message {
	display:none;
	
	h2, p {
			color:$white;
			 text-align: center;
			 padding-bottom:10px;
	}
	
}




/* Footer */

.site-footer {
	background:$dark-grey;
	color:$white;
	padding:10px 0;
	text-align: center;	
	position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	
	a, p {
		color:$white;
		text-align: center;
	}
}

.form-control, select{
  	-webkit-border-radius: 0!important;
     -moz-border-radius: 0!important;
     border-radius: 0!important;
     -webkit-appearance: none;
}



@media screen and (min-width:768px) {
	.sidebar-img {
		max-width:325px;
		float:right;
		margin-bottom:25px;
	}
}


@media screen and (max-width:767px) {
	
	/* Navigation */

	.navbar {
		margin-bottom:0; 
		
		.navbar-header {
			background:$blue-one;
		}
		
		.navbar-toggle {
			padding:0;
			background:none;
			border:0;
			
			&:hover {
				background:none;
			}
			
			&:focus {
				background:none;
			}
			
			.icon-bar {
				background-color:$blue-four;
				height:5px;
			    width: 40px;
			    margin: 10px 10px 10px 0px;
				transition: all .2s
			}
		}
		
			
		.navbar-toggle .top-bar {
		    transform: rotate(45deg);
		    transform-origin: 0% 0%;
		}
		
		.navbar-toggle .middle-bar {
		    opacity: 0;
		}
		
		.navbar-toggle .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: -10% 70%;
		}
		
		.navbar-toggle.collapsed .bottom-bar,
		.navbar-toggle.collapsed .top-bar {
		    transform: rotate(0);
		}
		
		.navbar-toggle.collapsed .middle-bar {
		    opacity: 1
		}
		
		
		#navbar {
			width:100%;
			max-width:1200px;
			margin:auto;
			padding:0!important;
			
			.menu-main-menu-container {
				#menu-main-menu {
					display:table;
					width:100%;
					margin:0;
					
					li {
						border-bottom: 1px solid $white;
						background:$blue-one;
						display: table;
						width:100%;
						text-align: left;
						
						&:last-child {
							border-bottom: none!important;
						}
						
						a {
							font-size:30px;
							font-weight:600;
							padding:25px 15px;
							color:$white;
							transition:$button-transition;
							
							&:hover {
								background:$blue-three;
								color:$white;
							}
							
							&:after {
								content: "\f105";
								font: normal normal normal 30px/1 FontAwesome;
								position:absolute;
								right:15px;
								transition:.25s transform ease-in-out;
							}
	
						}
						
						
						&.open>a {
									background:$blue-three;
				
								&:after {
									content: "\f105";
									font: normal normal normal 30px/1 FontAwesome;
								    position: absolute;
								    right: 15px;
								    transform:rotate(90deg);
								}
							
						}
						
						
						.dropdown-menu {
							padding:0;
							border-top: 1px solid $white;
							
							li {
								a {
									font-size:18px;
									padding:10px;
									color:$white;
									
										&:after {
											content: "\f105";
											font: normal normal normal 18px/1 FontAwesome;
										}
									
									&:hover {
										color:$white;
										background: $blue-three;
									}
								}
								
							
							}
						}
					}
				}
			}
		}
	}
	
	
	#homeCarousel {
		.carousel-indicators {
		    position:relative;
		    width:auto;
		    max-width:none;
		    margin:auto;
		    bottom:0;
		    padding:20px 0 0;
		}
	}	
	
	
	
			/* Crucial to make nav hide show on mobile */
	.navbar-collapse.collapse {
		display:none!important;
	}
	
	.collapse.in {
	    display: table !important;
	}
	
	//override bootstrap to show hamburger on tablet portrait
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
    }
    
    
    .top-nav-container {
		.header-ph {
			a {
				font-size:25px;
				line-height: 30px;
			}
		}
		
		.header-add {
			font-size:12px;
			padding-top:5px;
		}
		#header-social {
			display: none;
		}
	}


    
	
	.overlay-nav {
		position:fixed;
		background:rgba(0,0,0,0.75);
		width:100%;
		height:100%;
		display:none;
		z-index:998;
	}
	
	
	.show-hide {
		display:table;
	}

	#sidebar {
		text-align: center;
	}
	

	
}



@media screen and (max-width:480px) {
	.top-nav-container {
			
			.header-ph {
				a {
					font-size:25px;
					line-height: 30px;
				}
			}
			
			.header-add {
				font-size:12px;
				padding-top:5px;
			}
			#header-social {
				display: none;
			}
		}

	
}


@media screen and (min-width: 768px) {
	
}

@import "style-overrides";